{% filter table(['ID', 'PROJECT', 'STATUS', 'PRIORITY', 'TARGET VERSION', 'ASSIGNEE', 'SUBJECT']) -%}
{% for issue in issues -%}
#{{issue.id}}|{{issue.project.name}}|{{issue.status.name}}|{{issue.priority.name}}|{{issue.fixed_version.name}}|{{issue.assigned_to.name|default('(not assigned)')}}|{{issue.subject}}
{% endfor -%}
{% endfilter -%}
